table, tr, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 1.1rem;
    
}

.changeColor{
    
   
    border: 2px solid black;
    color: white;
    background-color: black;
    height: 50px;
    width: 200px;
    
}

.changeColor:hover{
    color: white;
    background-color: purple;
}

.hello:hover{
    text-decoration: underline;
    text-align: center;
}


